<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <a href="/">Home</a>
    <a href="/allproducts">All Products</a>
    <a href="/mycard">My card</a>


    <% results.forEach(element =>{%> 
        <h3><%= element.name %> </h3>
        <img src="<%= element.image %>" alt="">
        <h4><%= element.price %> </h4>
        <form action="/product/<%= element.id %> ">
        <button>View Details</button>
        </form>
   <% }) %> 
</body>
</html>